<div class="book">

    <div class="book__main" ui-view></div>

    <div class="book__sidebar-track">
        <div class="book__sidebar">
            <form class="form">

                <div class="form-group">
                    <label class="control-label">You behold:</label>
                    <select class="form-control"
                            ng-model="vm.selectedMode"
                            ng-change="vm.changeMode(vm.selectedMode)"
                            ng-options="mode.key as mode.label for mode in vm.modes"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">From the Volume:</label>
                    <select class="form-control"
                            ng-model="vm.selectedBookKey"
                            ng-change="vm.changeBook()"
                            ng-options="book.key as book.title for book in vm.manifest"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Under the Sign:</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="vm.seed" />
                        <a class="input-group-addon btn btn-default"
                           ng-click="vm.randomizeSeed()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    </div>
                </div>

                <div class="book__sidebar__options-view" ui-view="options"></div>

                <div class="form-group book__sidebar__options-copy-actions">
                    <button class="btn btn-primary" ngclipboard data-clipboard-target="#copy-target">Copy</button>
                    <button class="btn btn-primary" ngclipboard data-clipboard-target="#html-copy-target">Copy Html</button>
                </div>

            </form>
        </div>
    </div>
</div>
