.book {
    $translucent-stroke:1px solid $gray;

    display:flex;
    padding:0;
    position:relative;

    &__main {
        flex:1 1 auto;
        background-color:$white;
        padding:0 $site-gutter;
        box-shadow: inset 0 0 100px 5px rgba(0,0,0,0.07);
    }

    &__sidebar {
        background-color:$white;
        padding:$site-gutter;
        box-shadow: inset 0 0 40px 3px rgba(0,0,0,0.1);

        &__options {
            &-copy-actions {
                margin-top:$site-gutter;
                display:flex;

                > * + * {
                    margin-left:$site-spacing;
                }
            }
        }
    }

    &__header {
        display:flex;
        justify-content: space-between;
        align-items:center;
        border-bottom:3px solid $gray-darker;
        padding:$site-gutter 0 $site-spacing;
        margin-bottom:$site-gutter;
    }

    &__title {
        margin:0;
    }

    &__copy-target {
        position:absolute;
        z-index: -1;
        top:0;
        left:0;
        width:1px;
        height:1px;
        opacity: 0;
    }

    @media screen and (max-width:$screen-sm-max) {
        flex-direction: column-reverse;

        &__sidebar {
            &-toggle {
                position:relative;
                border-bottom:$site-spacing solid $gray;

                &__button {
                    position:absolute;
                    top:0;
                    right:$site-gutter;
                }

                @at-root .is-collapsed & {
                    border-top:none;
                }
            }

            &.is-collapsed {
                display:none;
            }

            &__form {
                @media screen and (min-width:$screen-xs-max) and (max-width:$screen-sm-max) {
                    @include book-options();
                }
            }

            &__options {
                &-copy-actions {
                    justify-content:flex-end;
                }
            }
        }
    }

    @media screen and (min-width:$screen-md) {
        flex-direction:row;
        justify-content: space-between;
        align-items:stretch;

        > * + * {
            margin-left:$site-gutter;
        }

        &__main {
            min-height:100%;
            border:$translucent-stroke;
            border-width:0px 1px;
        }

        &__sidebar {
            $top-border-width:2px;
            width:275px;
            flex:0 0 auto;
            position:sticky;
            top:$site-gutter;
            border:$translucent-stroke;
            border-width:$top-border-width 1px 3px;
            margin-top:$top-border-width * -1;
            max-height:calc(100vh - #{$site-gutter * 2});
            overflow-y:auto;

            &-toggle {
                display:none;
            }

            &-track {
                padding:$site-gutter 0;
            }
        }
    }
}
