<div class="book">

    <div class="book__main" ui-view></div>

    <div class="book__sidebar-track">
        <div class="book__sidebar" ng-class="{ 'is-collapsed' : !vm.isOpen }">
            <form class="form book__sidebar__form">

                <div class="form-group">
                    <label class="control-label">You behold:</label>
                    <select class="form-control"
                            ng-model="vm.selectedMode"
                            ng-change="vm.changeMode(vm.selectedMode)"
                            ng-options="mode.key as mode.label for mode in vm.modes"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">From the Volume:</label>
                    <select class="form-control"
                            ng-model="vm.selectedBookKey"
                            ng-change="vm.changeBook()"
                            ng-options="book.key as book.title for book in vm.manifest"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Under the Sign:</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="vm.seed" />
                        <a class="input-group-addon btn btn-default"
                           ng-click="vm.randomizeSeed()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    </div>
                </div>

            </form>

            <div class="book__sidebar__view" ui-view="options"></div>

            <div class="form-group book__sidebar__options-copy-actions">
                <button class="btn btn-primary" ngclipboard data-clipboard-target="#copy-target">Copy</button>
                <button class="btn btn-primary" ngclipboard data-clipboard-target="#html-copy-target">Copy Html</button>
            </div>

            <div class="book__sidebar__toggle" ng-click="vm.closeSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            </div>
        </div>
    </div>
</div>
