body {
	min-height:100vh;
    background-color:$gray-light;
    box-shadow: inset 0 0 40vmin 1vmin rgba(0,0,0,0.5);
}

.main {
	display:flex;
	flex-direction:column;
    min-height:100vh;

    &-nav {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        color:$navbar-inverse-color;
        font-family:$headings-font-family;
        line-height: $line-height-computed;
        padding-top:$site-padding;
        padding-bottom:$site-padding;

        &__wrap {
            background:$navbar-inverse-bg;
            position:relative;
            //z-index: $zindex-navbar-fixed;
        }

        &:before, &:after {
            content:none; // Cancels out weirdness from .container
        }

        &__site-name {
            font-size:$font-size-h3;

            &, &:link, &:hover, &:visited, &:active {
                color:$navbar-inverse-brand-color;
                text-decoration: none;
            }
        }

        &__toggle {
            transition:color .2s ease-in-out;

            &:hover, &.is-active {
                color:$navbar-inverse-brand-color;
            }
        }
    }

    &__body {
        flex:1 1 auto;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:stretch;
    }

    &__footer {
        background:$gray-darker;
        color:$white;

        &__inner {
            padding:$site-gutter ($site-gutter * 2);
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        &__body {
            padding:0;
        }

    }

    @media screen and (min-width:$screen-sm) {
        &-nav {
            padding:$site-padding ($site-gutter * 2);
        }
    }

    @media screen and (min-width:$screen-md) {
        &-nav {
            &__toggle {
                display:none;
            }
        }
    }
}
