<div class="main">

	<div class="main-nav__wrap">
        <nav class="main-nav container">
            <a class="main-nav__site-name" ui-sref="main.home">Lorem Lovecraft</a>
            <span class="main-nav__toggle glyphicon glyphicon-menu-hamburger"
                  ng-class="{ 'is-active' : main.isSidebarOpen }"
                  ng-if="main.showToggle"
                  ng-click="main.toggleSidebar()"></span>
        </nav>
	</div>

    <div class="main__body container" ui-view></div>

    <div class="main__footer">
        <div class="main__footer__inner container">
            <p>It was Rodriguez the Portuguese who climbed up the foot of the monolith and shouted of what he had found.</p>
        </div>
    </div>

</div>
