body {
	min-height:100vh;
    background-color:$gray-lighter;
}

.main {
	display:flex;
	flex-direction:column;

	&__nav {
		margin-bottom:0;
		font-family:$headings-font-family;

		.navbar-brand {
			font-size:$font-size-h3;
		}

		.navbar-nav {
			> li {
				> a {
					font-size:$font-size-h4;
				}
			}
		}
	}

    &__body {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:0;

        > * + * {
            margin-left:$site-gutter;
        }
    }

	&__view {
		flex:1 1 auto;
        background-color:$white;
        padding:0 $site-gutter;

		> * {
			min-height:100vh;
		}
	}

    &__sidebar {
        width:250px;
        flex:0 0 auto;
    }
}
