<div class="ramblings-options"
     ng-model-options="{ debounce : 500 }">

    <div class="form-group">
        <label class="control-label">Number of Paragraphs: {{ vm.options.paragraphCount }}</label>
        <input class="range-slider"
               type="range"
               min="1"
               max="10"
               step="1"
               ng-change="vm.handleChange()"
               ng-model="vm.options.paragraphCount">
    </div>

    <div class="form-group">
        <label class="control-label">Sentences Per Paragraph: {{ vm.options.sentencesPerParagraph }}</label>
        <input class="range-slider"
               type="range"
               min="1"
               max="10"
               step="1"
               ng-change="vm.handleChange()"
               ng-model="vm.options.sentencesPerParagraph">
    </div>

    <div class="form-group">
        <label class="control-label">Words Per Line: {{ vm.options.wordsPerLine }}</label>
        <input class="range-slider"
               type="range"
               min="1"
               max="10"
               step="1"
               ng-change="vm.handleChange()"
               ng-model="vm.options.wordsPerLine">
    </div>

    <div class="form-group">
        <label class="control-label">Minimum Word Length: {{ vm.options.minWordLength }}</label>
        <input class="range-slider"
               type="range"
               min="1"
               max="10"
               step="1"
               ng-change="vm.handleChange()"
               ng-model="vm.options.minWordLength">
    </div>

</div>
