$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

$alegreya-sc: 'Alegreya SC', serif;
$crimson-text: 'Crimson Text', serif;
$karma: 'Karma', serif;
$marcellus-sc: 'Marcellus SC', serif;
$playfair-sc: 'Playfair Display SC', serif;
$zilla-slab: 'Zilla Slab', serif;
