// Custom mixins here TODO: move
@mixin calc-grid-width($items-per-row,$item-spacing) {
	$item-base-width:100% / $items-per-row;
	$per-item-spacing:(($items-per-row - 1) * $item-spacing) / $items-per-row;

	width:calc(#{$item-base-width} - #{$per-item-spacing});
}

@mixin color-swatch-variant($key,$color,$baseClass:'.color-swatch') {
	#{$baseClass}__#{$key} {
		#{$baseClass}__swatch {
			background: $color;
		}
	}
}

@mixin responsive-image() {
	width:100%;
	height:auto;
}

@mixin book-options() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        flex: 0 1 auto;
        width: calc(33% - #{$site-padding});
    }
}

@mixin button-variant-dark($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: lighten($background, 10%);
        border-color: lighten($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: lighten($background, 10%);
        border-color: lighten($border, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: lighten($background, 10%);
        border-color: lighten($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: lighten($background, 17%);
            border-color: lighten($border, 25%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}
